.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    font-weight: 600;
    max-width: 100vw;
    padding-right: 5%;
  }

  .toolbar img {
    margin: 0 16px;
  }

  a {
    color: #F57300
  }

  a:visited {
    color: #ededed
  }

  a:hover, a:active {
    color: #fff
  }