
<div class="centeredContent">
  <mat-chip-listbox (change)="onValueChange($event)" aria-label="Category selection">
      <svg matChipAvatar  height="1" width="1"></svg> 
      <mat-chip-option leadingIcon="none" color="primary"  *ngFor="let productFamily of productFamilies" value={{productFamily.id}}>{{productFamily.name}}</mat-chip-option>
  </mat-chip-listbox>

<app-product-type-menu [parentForm]="parentForm" [productTypes]="productTypes"></app-product-type-menu>
<app-packet-list [packets]="packets"></app-packet-list>
</div>