<!--Search packets-->
<mat-menu #packets="matMenu">
    <button mat-menu-item>ID</button>
    <button mat-menu-item >Name</button>
    <button mat-menu-item [matMenuTriggerFor]="version">Version</button>
    <button mat-menu-item [matMenuTriggerFor]="type">Type</button>
    <button mat-menu-item [matMenuTriggerFor]="productFamily">Product family</button>
  </mat-menu>

  <mat-menu #version="matMenu">
    <button mat-menu-item >Version1</button>
    <button mat-menu-item >Version2</button>
  </mat-menu>
<!-- (click)="clickMenuItem(item)" -->
  <mat-menu #type="matMenu">
    <button mat-menu-item>Type1</button>
    <button mat-menu-item >Type2</button>
  </mat-menu>

  <mat-menu #productFamily="matMenu">
    <button mat-menu-item>Product family 1</button>
    <button mat-menu-item>Product family 2</button>
  </mat-menu>

