<div class="packet-list">
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Version</th>
            <th></th>
        </tr>
        <tr *ngFor="let packet of packets">
            <td class="packet-name">{{packet.name}}</td>
            <td class="packet-desc">{{packet.description}}</td>
            <td class="packet-version">{{packet.version}}</td>
            <td><a href="{{API_URL}}/packets/{{packet.id}}/file" download="{{packet.name}}_{{packet.version}}" target="_blank">Download</a></td>
        </tr>
    </table>
</div>